{#/**#}
{#* VI-31 ProdcutCategoryEdit#}
{#*#}
{#* @category   ProductCategory#}
{#* @package    Virtua_ProductCategoryEdit#}
{#* @copyright  Copyright (c) Virtua#}
{#* @author     Name <m.sobon@wearevirtua.com>#}
{#*/#}

{% extends 'base.html.twig' %}

{% block title %}Edit {{ product_category.name }} Category{% endblock %}

{% block body %}
    {% for message in app.flashes('notice') %}
        <div style="background: greenyellow; ">
            {{ message }}
        </div>
    {% endfor %}

    {% for message in app.flashes('error') %}
        <div style="background: greenyellow; ">
            {{ message }}
        </div>
    {% endfor %}

    <h1>Edit ProductCategory</h1>

    {#{{ include('product_category/_form.html.twig', {'button_label': 'Update'}) }}#}
    {{ include('product_category/_edit_form.html.twig') }}
{% endblock %}