{#/**#}
{#* VI-31#}
{#*#}
{#* @category   Virtua#}
{#* @package    Virtua_Module#}
{#* @copyright  Copyright (c) Virtua#}
{#* @author     Name <m.sobon@wearevirtua.com>#}
{#*/#}

{% extends 'base.html.twig' %}

{% block title %}Edit {{ product_category.name }} Category{% endblock %}

{% block body %}
    {% for message in app.flashes('notice') %}
        <div style="background: greenyellow; ">
            {{ message }}
        </div>
    {% endfor %}

    {% for message in app.flashes('error') %}
        <div style="background: greenyellow; ">
            {{ message }}
        </div>
    {% endfor %}

    <h1>Edit ProductCategory</h1>

    {{ include('product_category/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('product_category_index') }}">back to list</a>

    {{ include('product_category/_delete_form.html.twig') }}
{% endblock %}