{#/**#}
{#* VI-31 ProdcutCategoryEdit#}
{#*#}
{#* @category   ProductCategory#}
{#* @package    Virtua_ProductCategoryEdit#}
{#* @copyright  Copyright (c) Virtua#}
{#* @author     Name <m.sobon@wearevirtua.com>#}
{#*/#}

{% extends 'base.html.twig' %}

{% block title %}Edit {{ product_category.name }} Category{% endblock %}

{% block body %}
    {% for message in app.flashes('notice') %}
        <div class="alert alert-success alert-dismissible fade show">
            {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
    {% endfor %}

    {% for message in app.flashes('error') %}
        <div class="alert alert-success alert-danger fade show">
            {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
    {% endfor %}

    <h1>Edit ProductCategory</h1>

    {#{{ include('product_category/_form.html.twig', {'button_label': 'Update'}) }}#}
    {{ include('product_category/_edit_form.html.twig') }}
{% endblock %}