{% extends 'base.html.twig' %}

{% block title %}Products List{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/base.css') }}" rel="stylesheet" />
{% endblock %}
{% block body %}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="flash-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    <h1>Product index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Info</th>
                <th>CreatedDate</th>
                <th>ModifiedDate</th>
                <th>Category</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.info }}</td>
                <td>{{ product.createdDate ? product.createdDate|date('Y-m-d') : '' }}</td>
                <td>{{ product.modifiedDate ? product.modifiedDate|date('Y-m-d') : '' }}</td>
                <td><a href="{{ path('product_category_show', {'id': product.category.id}) }}">{{  product.category.name }}</a></td>
                <td>
                    <a href="{{ path('product_show', {'id': product.id}) }}"><button type="submit" class="btn btn-success buttontable">Show</button></a>
                    <a href="{{ path('product_edit', {'id': product.id}) }}"><button type="submit" class="btn btn-warning buttontable">Edit</button></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('product_new') }}"><button type="submit" class="btn btn-dark">Create new product</button></a>
{% endblock %}
