{#/**#}
{#*#}
{#* @category   ProductCategory#}
{#* @package    Virtua_DeleteProductCategory#}
{#* @copyright  Copyright (c) Virtua#}
{#* @author     Dawid Kruczek#}
{#*/#}
{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}

    <link href="{{ asset('/css/new.css') }}" rel="stylesheet">
{% endblock %}
{% block title %}Dodaj nowy produkt{% endblock %}

{% block body %}

    {% for msg in app.session.flashBag.get('error') %}
        <div class="flash-error">
            {{ msg }}
        </div>
    {% endfor %}
    <h1>Stworz nowy produkt</h1>
         {{ include('product/_form.html.twig') }}
    <a href="{{ path('product_index') }}"><button type="submit" class="btn btn-info">Wroc do listy produktow</button></a>

    {% block javascripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="/js/addImages.js"></script>
    {% endblock %}
{% endblock %}